abrir_cuda.bat
UsoInterno.md
bin/
.vscode/
*.exe
*.obj
*.pdb
*.ilk
.venv/
pyrightconfig.json
# Python
__pycache__/
*.pyc

# Node / React Frontend
node_modules/
frontend/node_modules/
frontend/dist/
.env
.env.local

